In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./initialCapesInfo.csv')

In [3]:
## Storing the original data into a duplicate dataframe

copy = df
df

,Instructor,Course,Term,Enroll,Evals Made,Rcmd Class,Rcmnd Instr,Study Hours/week,avg Grade Expected,Average grade received
0,"Ben-Yosef, Erez",\nANAR 113 - Natural Resources in Israel (A)\n,FA18,19,11,\n100.0 %\n,\n100.0 %\n,4.14,\nB+ (3.64)\n,\nN/A\n
1,"D'Alpoim Guedes, Jade A",\nANAR 146 - Feeding the World (A)\n,FA18,39,17,\n100.0 %\n,\n100.0 %\n,5.91,\nA- (3.75)\n,\nB+ (3.54)\n
2,"Marchetto, Maria Carolina",\nANBI 100 - Special Topic/Biological Anth (A)\n,FA18,25,23,\n100.0 %\n,\n100.0 %\n,4.24,\nA- (3.91)\n,\nA- (3.83)\n
3,"Non, Amy L",\nANBI 134 - Human Evolutionary Genetics (A)\n,FA18,30,16,\n62.5 %\n,\n93.3 %\n,5.50,\nB (3.13)\n,\nB (3.09)\n
4,"Non, Amy L",\nANBI 135 - Genetic Anthro Lab Techniques (A)\n,FA18,11,7,\n57.1 %\n,\n85.7 %\n,4.50,\nB (3.14)\n,\nN/A\n
...,...,...,...,...,...,...,...,...,...,...
4112,"Pafunda, Danielle",LTWR 115 - Experimental Writing Workshop (A),WI18,18,7,100.0 %,100.0 %,4.50,A (4.00),NaN
4113,"Hoang, Lily Kim",LTWR 126 - Creative Nonfiction Workshop (A),WI18,12,4,100.0 %,100.0 %,7.00,A- (3.75),NaN
4114,"Hoang, Lily Kim",LTWR 140 - History of Writing (A),WI18,34,7,85.7 %,85.7 %,2.50,A- (3.86),A- (3.74)
4115,"Doller, Ben",LTWR 8B - Writing Poetry (A),WI18,99,50,95.8 %,91.7 %,2.83,A- (3.87),A- (3.92)
4116,"Forbes, Camille",LTWR 8C - Writing Non-Fiction (A),WI18,61,47,83.0 %,89.1 %,3.31,B+ (3.45),B+ (3.38)

# Dropping Columns 

The objective at hand is to determine if certain factors influence a 
professors' salary. The factors we chose to analyze was the recomendation 
professors recieve, the department they work for, and the 
average grade of their students. For this reason, we decided to drop all
the rows that did not pertain to these factors. However, we decided to 
keep the number of students enrolled in a class as this may be a
cofounding variable that affects how much a professors gets payed.

In [4]:
copy = copy.drop(columns = ['Term','Evals Made', 'Rcmd Class', 'Average grade received'])

# Standardizing Upper Div

In order to determine if a course is an upper division course, we created a fucntion that takes in the course title and returns true if it is an upper division course or false otherwise. We applied this function to the course column and created a new column, upper div.

In [5]:
def standardize_upper_div(string):
    string = string.strip()
    index = string.find(' ')
    string = string[index+1:]
    
    counter = 0
    while(string.find('0') == 0 or 
          string.find('1') == 0 or
          string.find('2') == 0 or
          string.find('3') == 0 or
          string.find('4') == 0 or
          string.find('5') == 0 or
          string.find('6') == 0 or
          string.find('7') == 0 or
          string.find('8') == 0 or
          string.find('9') == 0 ) :
        string = string[1:]
        counter += 1
        
    if(counter > 2):
        return True
    else:
        return False

In [6]:
copy['Upper Div'] = copy['Course'].apply(standardize_upper_div)

# Standardizing Department

Each row in the table represents a different course/section that a professors has taught. However, in order to determine if a professor's salary is correlated eith the department they teach in, we must standardize each of these courses by their department. To do so, we declare a function that determines what department a course in based on the acronym of the course title. In addition, we declare a function to determine whether a given class is characterized as stem. We then apply these function to the column containing the course titles and create a new column.

In [7]:
def standardize_department(string):
    
    string = string.strip()
    string = string[:4]

    
    if 'AN' in string:
        output = 'Anthropology'
    elif 'BENG' in string:
        output = 'Bioengineering'
    elif 'BI' in string:
        output = 'Biology'
    elif 'CAT' in string:
        output = 'Sixth College'
    elif 'CGS' in string:
        output = 'Critical Gender Studies'
    elif 'CHEM' in string:
        output = 'Chemistry'
    elif 'CHIN' in string:
        output = 'Chinese Studies'
    elif 'COGS' in string:
        output = 'Cognitive Science'
    elif 'DSGN' in string:
        output = 'Cognitive Science'
    elif 'COMM' in string:
        output = 'Communication'
    elif 'CONT' in string:
        output = 'Contemporary Issues'
    elif 'CSE' in string:
        output = 'Computer Science'
    elif 'DOC' in string:
        output = 'Dimensions of Culture'
    elif 'ECE' in string:
        output = 'Electrical & Computer Eng.'
    elif 'ECON' in string:
        output = 'Economics'
    elif 'EDS' in string:
        output = 'Education Studies'
    elif 'ENVR' in string:
        output = 'Environmental Studies'
    elif 'ERC' in string:
        output = 'ERC'
    elif 'ESYS' in string:
        output = 'Environmental Systems'
    elif 'ETHN' in string:
        output = 'Ethnic Studies'
    elif 'FILM' in string:
        output = 'Film'
    elif 'HDP' in string:
        output = 'Human Development Program'
    elif 'HI' in string:
        output = 'History'
    elif 'HMNR' in string:
        output = 'Human Rights'
    elif 'HUM' in string:
        output = 'Humanitites'
    elif 'ICAM' in string:
        output = 'Inter. Computing and the Arts'
    elif 'INTL' in string:
        output = 'International Studies'
    elif 'JAPN' in string:
        output = 'Japanese Studies'
    elif 'JUDA' in string:
        output = 'Judaic Studies'
    elif 'LATI' in string:
        output = 'Latin American Studies'
    elif 'LAWS' in string:
        output = 'Law & Society'
    elif 'LI' in string:
        output = 'Linguistics'
    elif 'LT' in string:
        output = 'Literature'
    elif 'MAE' in string:
        output = 'Mechanical & Aerospace Eng.'
    elif 'MATH' in string:
        output = 'Mathematics'
    elif 'MMW' in string:
        output = 'Making of the Modern World'
    elif 'MUIR' in string:
        output = 'Muir College'
    elif 'MUS' in string:
        output = 'Music'
    elif 'CENG' in string:
        output = 'NanoEngineering'
    elif 'NANO' in string:
        output = 'NanoEngineering'
    elif 'PHIL' in string:
        output = 'Philosophy'
    elif 'PHYS' in string:
        output = 'Physics'
    elif 'POLI' in string:
        output = 'Political Science'
    elif 'PSYC' in string:
        output = 'Psychology'
    elif 'RELI' in string:
        output = 'The Study of Religion'
    elif 'REV' in string:
        output = 'Revelle College'
    elif 'MGT' in string:
        output = 'Rady School of Management'
    elif 'SE' in string:
        output = 'Structural Engineering'
    elif 'SIO' in string:
        output = 'SIO'
    elif 'SOCI' in string:
        output = 'Sociology'
    elif 'ENG' in string:
        output = 'Jacobs School of Engineering'
    elif 'SXTH' in string:
        output = 'Sixth College'
    elif 'TD' in string:
        output = 'Theatre & Dance'
    elif 'TMC' in string:
        output = 'Thurgood Marshall College'
    elif 'TWS' in string:
        output = 'Third World Studies'
    elif 'USP' in string:
        output = 'Urban Studies and Planning'
    elif 'VIS' in string:
        output = 'Visual Arts'
    elif 'WARR' in string:
        output = 'Warren College'
    elif 'WCWP' in string:
        output = 'Warren College Writing Program'
    else:
        output = np.nan
    
    return output

In [8]:
## Testing the function

standardize_department('WCWP 100 - Academic Writing (B)')

'Warren College Writing Program'

In [9]:
def standardize_stem(string):
    
    string = string.strip()
    string = string[:4]

    
    if 'AN' in string:
        output = False
    elif 'BENG' in string:
        output = True
    elif 'BI' in string:
        output = True
    elif 'CAT' in string:
        output = False
    elif 'CGS' in string:
        output = False
    elif 'CHEM' in string:
        output = True
    elif 'CHIN' in string:
        output = False
    elif 'COGS' in string:
        output = True
    elif 'DSGN' in string:
        output = True
    elif 'COMM' in string:
        output = False
    elif 'CONT' in string:
        output = False
    elif 'CSE' in string:
        output = True
    elif 'DOC' in string:
        output = False
    elif 'ECE' in string:
        output = True
    elif 'ECON' in string:
        output = True
    elif 'EDS' in string:
        output = False
    elif 'ENVR' in string:
        output = True
    elif 'ERC' in string:
        output = False
    elif 'ESYS' in string:
        output = True
    elif 'ETHN' in string:
        output = False
    elif 'FILM' in string:
        output = False
    elif 'HDP' in string:
        output = False
    elif 'HI' in string:
        output = False
    elif 'HMNR' in string:
        output = False
    elif 'HUM' in string:
        output = False
    elif 'ICAM' in string:
        output = True
    elif 'INTL' in string:
        output = False
    elif 'JAPN' in string:
        output = False
    elif 'JUDA' in string:
        output = False
    elif 'LATI' in string:
        output = False
    elif 'LAWS' in string:
        output = False
    elif 'LI' in string:
        output = False
    elif 'LT' in string:
        output = False
    elif 'MAE' in string:
        output = True
    elif 'MATH' in string:
        output = True
    elif 'MMW' in string:
        output = False
    elif 'MUIR' in string:
        output = False
    elif 'MUS' in string:
        output = False
    elif 'CENG' in string:
        output = True
    elif 'NANO' in string:
        output = True
    elif 'PHIL' in string:
        output = False
    elif 'PHYS' in string:
        output = True
    elif 'POLI' in string:
        output = False
    elif 'PSYC' in string:
        output = True
    elif 'RELI' in string:
        output = False
    elif 'REV' in string:
        output = False
    elif 'MGT' in string:
        output = False
    elif 'SE' in string:
        output = True
    elif 'SIO' in string:
        output = True
    elif 'SOCI' in string:
        output = False
    elif 'ENG' in string:
        output = True
    elif 'SXTH' in string:
        output = False
    elif 'TD' in string:
        output = False
    elif 'TMC' in string:
        output = False
    elif 'TWS' in string:
        output = False
    elif 'USP' in string:
        output = False
    elif 'VIS' in string:
        output = False
    elif 'WARR' in string:
        output = False
    elif 'WCWP' in string:
        output = False
    else:
        output = False
    
    return output

In [10]:
copy.columns = ['Instructor', 'Department', 'Enroll', 'Rcmnd Instr', 'Study Hrs/Week', 'Average Grade Expected', 'Upper Div']

In [11]:
## Applying the function to standardize the department
copy['Stem'] = copy['Department'].apply(standardize_stem)
copy['Department'] = copy['Department'].apply(standardize_department)

In [12]:
copy

,Instructor,Department,Enroll,Rcmnd Instr,Study Hrs/Week,Average Grade Expected,Upper Div,Stem
0,"Ben-Yosef, Erez",Anthropology,19,\n100.0 %\n,4.14,\nB+ (3.64)\n,True,False
1,"D'Alpoim Guedes, Jade A",Anthropology,39,\n100.0 %\n,5.91,\nA- (3.75)\n,True,False
2,"Marchetto, Maria Carolina",Anthropology,25,\n100.0 %\n,4.24,\nA- (3.91)\n,True,False
3,"Non, Amy L",Anthropology,30,\n93.3 %\n,5.50,\nB (3.13)\n,True,False
4,"Non, Amy L",Anthropology,11,\n85.7 %\n,4.50,\nB (3.14)\n,True,False
...,...,...,...,...,...,...,...,...
4112,"Pafunda, Danielle",Literature,18,100.0 %,4.50,A (4.00),True,False
4113,"Hoang, Lily Kim",Literature,12,100.0 %,7.00,A- (3.75),True,False
4114,"Hoang, Lily Kim",Literature,34,85.7 %,2.50,A- (3.86),True,False
4115,"Doller, Ben",Literature,99,91.7 %,2.83,A- (3.87),False,False
4116,"Forbes, Camille",Literature,61,89.1 %,3.31,B+ (3.45),False,False

# Dropping Null Values

In the initial data set there were many empty values in the column of Average grade expected. However, there were also entries in this column that were N/A or nan. Therefore, we must standardize these null and empty values to be np.nan first, so that we can make use of the function .isnull() to drop all the corresponding rows. However, if we drop one course of an instructor, we must also drop all the rows that correspond to that instructor as well. This is because our income dataset only show the salary that a professor made in a year. Therefore, if we drop one row of an instructor, the data will no longer be accurate for how many classes that instructor taught in a year or for their average grade that year.

In [13]:
def standardize_grade(string):
    string = str(string)
    string = string.strip()
    
    if 'nan' in string:
        return np.nan
    if 'N/A' in string:
        return np.nan
    if '' == string:
        return np.nan
        
    return string

In [14]:
## Applying the function to standardize null and empty entries for average grade

copy['Average Grade Expected'] = copy['Average Grade Expected'].apply(standardize_grade)

In [15]:
## Determines which rows should be dropped

rows_to_drop = copy[copy.isnull().any(axis=1)]

In [16]:
## Determines the instructor that must be dropped from the data above

arr = []
for i in rows_to_drop.index:
    arr.append(rows_to_drop.loc[i,'Instructor'])
    
rows_to_drop

,Instructor,Department,Enroll,Rcmnd Instr,Study Hrs/Week,Average Grade Expected,Upper Div,Stem
78,"Jordan, David K.",Anthropology,14,\n88.9 %\n,1.30,NaN,False,False
79,"Jordan, David K.",Anthropology,13,\n100.0 %\n,1.17,NaN,False,False
121,"Omens, Jeffrey Howard",Bioengineering,13,\n100.0 %\n,1.25,NaN,False,True
142,"Gough, David A.",Bioengineering,9,\n100.0 %\n,0.90,NaN,False,True
143,"Engler, Adam J.",Bioengineering,14,\n100.0 %\n,0.50,NaN,False,True
...,...,...,...,...,...,...,...,...
3902,"Radic, Zoran",Warren College,9,\n100.0 %\n,0.90,NaN,False,False
4007,"Nguyen, Hoang Tan",Literature,9,100.0 %,1.50,NaN,False,False
4047,"Lampert-Weissig, Lisa",Literature,11,100.0 %,1.36,NaN,False,False
4059,"Nguyen, Hoang Tan",Literature,19,94.4 %,0.97,NaN,False,False
4108,"Lampert-Weissig, Lisa",Literature,16,100.0 %,0.86,NaN,False,False

In [17]:
## Drops all the data pertaining to the instructors in the array above
        
for i in arr:
    copy = copy[copy['Instructor'] != i]

In [18]:
## Reordering the indices after dropping all the rows. 

copy.reset_index(drop=True, inplace=True)

# Standardizing Letter Grades

Since the average gpa of a course is a more accurate representation of grades than the average letter grade, we decided to keep only the gpa portion of the string. To do so we find the index of the '(' character which denotes the start of the gpa and the index of the ')' character which denotes the ending of the gpa. We return only the value in between these indices, which we type casted to be a float. This will allow for mathematical calculations later.

In [19]:
def standardize_letter(string):
    string = str(string)
    begin = string.find('(')
    end = string.find(')')
    string = string[begin + 1 : end]
 
          
    return float(string)

In [20]:
## Applying the above function to the average grade column 

copy['Average Grade Expected'] = copy['Average Grade Expected'].apply(standardize_letter)

# Standardize recommendation
In the initial dataset, the recommendation of a professor is stored as a string even though it is a numerical value. In order to cast it into a float, which allows for easier calculations later, we declared a function to do so. We stripped all the extra white space and characters returned a casted float value.

In [21]:
def standardize_recommendation(string):
    string = str(string)
    end = string.find('%')
    string = string[: end]
 
          
    return float(string)

In [22]:
## Applying the function above to the recommendation column.

copy['Rcmnd Instr'] = copy['Rcmnd Instr'].apply(standardize_recommendation)

# Combining Rows

Each row of the initial dataset represented a specific course. However, we want each row to represent an instructor  with their average statistic for the year 2018. To do this, we first created three dictionaries. For each dictionary the key was an instructor and its department. The values were the statistics that corresponded to that instructor and department. To populate information into these dictionaries we parsed through every row of the dataset and added all the statistics to their corresponding dictionary. After parsing through all the rows, we parsed through all the instructors to calculate the average for that specific statistic in the dictionary. Note that we did not do this for enrollment dictionary as we did not want the average number a instructor taught but rather the total number of students they taught for 2018. After calculating each statistic for that instructor, we added a row to a new dataframe with the corresponding instructor and his or her statistics. Note that we kept track of department with the instructor name, which allows us to have multiple rows for instructors in multiple departments.

In [23]:
## Populating the four dictionaries

rcmndDict = {}
gradeDict = {}
enrollDict = {}
departDict = {}
stemDict = {}
upperDict = {}
studyDict = {}
for i in copy.index:
    instrStr = copy.loc[i, 'Instructor']
    rccmd = copy.loc[i, 'Rcmnd Instr']
    grade = copy.loc[i, 'Average Grade Expected']
    depart = copy.loc[i, 'Department']
    enroll = copy.loc[i, 'Enroll']
    stem = copy.loc[i, 'Stem']
    upper = copy.loc[i, 'Upper Div']
    study = copy.loc[i, 'Study Hrs/Week']
    
    if instrStr in rcmndDict:
        arr = rcmndDict[instrStr]
        arr.append(rccmd)
        rcmndDict[instrStr] = arr
        
        arr = gradeDict[instrStr]
        arr.append(grade)
        gradeDict[instrStr] = arr
        
        enrollDict[instrStr] = enrollDict[instrStr] + enroll
        
        arr = studyDict[instrStr]
        arr.append(study)
        studyDict[instrStr] = arr
        
        arr = departDict[instrStr]
        if depart not in arr:
            arr.append(depart)
            
        if upper == False:
            upperDict[instrStr] = upper

    else:
        rcmndDict[instrStr] = [rccmd]
        gradeDict[instrStr] = [grade]
        departDict[instrStr] = [depart]
        enrollDict[instrStr] = enroll
        studyDict[instrStr] = [study]
        stemDict[instrStr] = stem
        upperDict[instrStr] = upper

In [24]:
## Creating a new dataframe where every row correlates to an instructor.

data = {'Instructor': [], 'Department' : [], 'Stem' : [], 'Upper Div' : [], 'Rcmnd Instr' : [], 'Average Grade Expected' : [], 'Classes Taught' : [], 'Enrolled' : [], 'Study Hrs/Week' : [] }
df = pd.DataFrame(data=data)

In [25]:
## Calculating the average statistics for a professor and adding it to the new dataframe

for instrStr in rcmndDict:
    rcmndArr = rcmndDict[instrStr]
    gradeArr = gradeDict[instrStr]
    studyArr = studyDict[instrStr]
    rcmndAvg = 0
    gradeAvg = 0
    studyAvg = 0
    count = len(gradeArr)
    for i in range (0,count):
        rcmndAvg += rcmndArr[i]
        gradeAvg += gradeArr[i]
        studyAvg += studyArr[i]
        
        
    rcmndAvg /= count
    studyAvg /= count
    gradeAvg /= count

    depart = departDict[instrStr][0]
    if( len(departDict[instrStr]) == 1):
        df = df.append({'Instructor' : instrStr, 'Department' : depart, 'Stem' : bool(stemDict[instrStr]), 'Upper Div' : upperDict[instrStr], 'Rcmnd Instr' : rcmndAvg, 'Average Grade Expected' : gradeAvg, 'Classes Taught': count, 'Enrolled' : enrollDict[instrStr], "Study Hrs/Week" : studyAvg }, ignore_index=True)

In [26]:
df = df.astype({"Stem": bool, "Upper Div" : bool})
df

,Instructor,Department,Stem,Upper Div,Rcmnd Instr,Average Grade Expected,Classes Taught,Enrolled,Study Hrs/Week
0,"Ben-Yosef, Erez",Anthropology,False,True,100.000000,3.6400,1.0,19.0,4.1400
1,"D'Alpoim Guedes, Jade A",Anthropology,False,True,100.000000,3.7500,1.0,39.0,5.9100
2,"Marchetto, Maria Carolina",Anthropology,False,True,100.000000,3.9100,1.0,25.0,4.2400
3,"Non, Amy L",Anthropology,False,False,90.966667,3.2800,3.0,91.0,4.5000
4,"Lew, Caroline Horton",Anthropology,False,True,88.100000,3.6850,2.0,72.0,3.7200
...,...,...,...,...,...,...,...,...,...
1381,"Pafunda, Danielle",Literature,False,False,98.075000,3.8075,4.0,139.0,4.8525
1382,"Johnson, Sara E.",Literature,False,False,97.200000,3.6900,1.0,45.0,4.0700
1383,"Morse, Ainsley",Literature,False,True,100.000000,3.7000,2.0,30.0,7.2350
1384,"Kokotovic, Milos",Literature,False,True,100.000000,3.7550,2.0,43.0,6.5000
1385,"Doller, Ben",Literature,False,False,91.700000,3.8700,1.0,99.0,2.8300

In [27]:
## Exporting the cleaned dataset

df.to_csv('CapesCleaned.csv')