## cleanup_income
Removes entries with non-relevant titles and standardizes title and regular pay elements.

In [1]:
# import tools
import pandas as pd
import numpy as np

In [2]:
# read income.csv file
df_income = pd.read_csv('income.csv')
df_income.shape

(3895, 6)

In [3]:
df_income.head()

,Last Name,Year,Location,First Name,Title,Regular Pay
0,ABI SAMRA,2018,San Diego,NICHOLAS CAMILL,LECT-AY,"40,050.00"
1,ACCOMANDO,2018,San Diego,ALYSSA WHEELER,LECT-AY-1/9,"8,900.00"
2,ADAMS,2018,San Diego,DAVE KENNETH,LECT IN SUMMER SESSION,0.00
3,AGUILA,2018,San Diego,CHRISTINA O,LECT-AY-1/9,"5,874.00"
4,AJA,2018,San Diego,ANTHONY K.,ELECTR TCHN,"46,059.00"

In [4]:
# remove unnecessary columns
df_income = df_income.drop(columns=['Year', 'Location'])

## Standardize Job Titles
When searching for the incomes of lecturers and professors, the use of the keywords LECT and PROF may have led to the inclusion of other jobs. As a result, we must remove them from the dataframe.

In [5]:
df_income['Title'].unique()

array(['LECT-AY', 'LECT-AY-1/9', 'LECT IN SUMMER SESSION', 'ELECTR TCHN',
       'LECT-AY-CONTINUING', 'SR LECT SOE-AY', 'LECT PSOE-AY',
       'LECT SOE-AY', 'ELECTRN', 'LECT-MISCELLANEOUS/PART TIME',
       'HIGH VOLT ELECTRN', 'ELECTRN LD', 'LECT-FY', 'ELECTR TCHN SR',
       'MED CTR ELECTR TCHN PRN', 'ELECTR TCHN PRN',
       'LECT-AY-1/9-CONTINUING', 'ELECTRN OPR 3',
       'SR LECT-AY-1/9-CONTINUING', 'HIGH VOLT ELECTRN LD',
       'ELECTRN APPR', 'VIS ASST PROF', 'PROF-HCOMP', 'PROF-AY',
       'HS ASST CLIN PROF-HCOMP', 'PAT REL PROFL 3', 'PROF OF CLIN-HCOMP',
       'ASSOC PROF-AY', 'HS CLIN PROF-HCOMP', 'PROF IN RES-HCOMP',
       'HS ASST CLIN PROF-FY', 'ASSOC PROF IN RES-HCOMP',
       'CLIN APPLICATIONS PROFL 3', 'HS ASSOC CLIN PROF-HCOMP', 'PROF-FY',
       'ASST ADJ PROF-HCOMP', 'ASST PROF-AY', 'ASST PROF OF CLIN-HCOMP',
       'ADJ PROF-HCOMP', 'TCHL PROJECT MGT PROFL 3', 'ADJ PROF-AY',
       'ASST PROF-HCOMP', 'VIS PROF', 'ASSOC PROF-FY',
       'ASSOC PROF OF CLIN-HCOMP', 'ASSOC PROF-HCOMP',
       'ASSOC ADJ PROF-HCOMP', 'HEALTH PROFNS EDUC SPEC 2',
       'PROF-AY-B/E/E', 'ASST ADJ PROF-AY-B/E/E', 'PAT REL PROFL 2',
       'ATH PROFL 2', 'BUS DEV HC PROFL 4', 'ASST PROF-AY-B/E/E',
       'ASST ADJ PROF-FY', 'HEALTH PROFNS EDUC SUPV 1',
       'ASSOC PROF-AY-B/E/E', 'HEALTH PROFNS EDUC SPEC 3',
       'TCHL PROJECT MGT PROFL 2', 'CLIN APPLICATIONS PROFL 4',
       'VIS ASSOC PROF', 'ETHICS AND CMPLNC PROFL 3', 'ADJ PROF-FY',
       'ASST PROF IN RES-HCOMP', 'LIBRARY PROFL 4',
       'TCHL PROJECT MGT PROFL 4', 'TCHL PROJECT MGT PROFL 1',
       'AUDIT PROFL 3', 'HS ASSOC CLIN PROF-FY',
       'CMTY HEALTH OUTR PROFL 2', 'ETHICS AND CMPLNC PROFL 5',
       'BUS DEV HC PROFL 3', 'CLIN PROFL SVC MGR 4',
       'HEALTH PROFNS EDUC MGR 2', 'AUDIT PROFL 4', 'ADJ PROF-AY-B/E/E',
       'PRIVACY AND CMPLNC HC PROFL 3', 'CLIN APPLICATIONS PROFL 2',
       'ASSOC ADJ PROF-FY', 'TCHL PROJECT MGT PROFL 5', 'HS CLIN PROF-FY',
       'STRAT SOURCING PROFL 4', 'HEALTH PROFNS EDUC MGR 1',
       'ATH PROFL 4', 'CLIN APPLICATIONS PROFL 1',
       'ANATOMICAL SVC PROFL 4', 'PROF OF CLIN-FY', 'ATH PROFL 3',
       'HEALTH PROFNS EDUC SPEC 5', 'VOLUNTEER SVC PROFL 4',
       'AUDIT PROFL 5', 'BEH HEALTH PSYCHIATRIC PROFL 3',
       'PRIVACY AND CMPLNC HC PROFL 2', 'ASSOC ADJ PROF-AY-B/E/E',
       'PROF IN RES-AY', 'PRIVACY AND CMPLNC HC PROFL 5',
       'PROF EMERITUS(WOS)', 'ETHICS AND CMPLNC PROFL 2',
       'HEALTH PROFNS EDUC SPEC 4', 'PRODUCT DEV PROFL 2',
       'PAT SFTY PROFL 4', 'PRIVACY AND CMPLNC HC PROFL 4',
       'STRAT SOURCING PROFL 3', 'HEALTH PROFNS EDUC SUPV 2', 'UNIV PROF',
       'ETHICS AND CMPLNC PROFL 4', 'ASST PROF-AY-1/9-B/E/E'],
      dtype=object)

In [6]:
# Remove non-relevant job titles and improve its readability
def standardize_title(string):
    
    string = string.strip()
    output = string
    
    if 'ELECTR' in output or 'MISCELLANEOUS' in output or 'PROFL' in output or 'PROFNS' in output:
        return np.nan
    elif 'SR LECT SOE-AY' == output:
        return 'TEACHING PROFESSOR - ACADEMIC YEAR'
    elif 'LECT PSOE-AY' == output:
        return 'ASSISTANT TEACHING PROFESSOR - ACADEMIC YEAR'
    elif 'LECT SOE-AY' == output:
        return 'ASSOCIATE TEACHING PROFESSOR - ACADEMIC YEAR'
    else:
        if 'LECT' in output:
            output = output.replace('LECT', 'LECTURER')
        if 'PROF' in output:
            output = output.replace('PROF', 'PROFESSOR')
        if 'ADJ' in output:
            output = output.replace('ADJ', 'ADJUNCT')
        if 'ASST' in output:
            output = output.replace('ASST', 'ASSISTANT')
        if 'ASSOC' in output:
            output = output.replace('ASSOC', 'ASSOCIATE')
        if 'B/E/E' in output:
            output = output.replace('B/E/E', 'BUSINESS/ECONOMICS/ENGINEERING')
        if 'CLIN' in output:
            output = output.replace('CLIN', 'CLINICAL')
        if 'HS' in output:
            output = output.replace('HS', 'HEALTH SCIENCES')
        if 'RES' in output:
            output = output.replace('RES', 'RESIDENCE')
        if 'UNIV' in output:
            output = output.replace('UNIV', 'UNIVERSITY')
        if 'VIS' in output:
            output = output.replace('VIS', 'VISITING')
        if 'WOS' in output:
            output = output.replace('WOS', 'WITHOUT SALARY')
        if '1/9' in output:
            output = output.replace('1/9', 'ONE OR TWO QUARTERS')
        if 'SR' in output:
            output = output.replace('SR', 'SENIOR')
        if 'AY' in output:
            output = output.replace('AY', 'ACADEMIC YEAR')
        if 'FY' in output:
            output = output.replace('FY', 'FISCAL YEAR')
        if '-' in output:
            output = output.replace('-', ' - ')
    
    return output

In [7]:
df_income['Title'] = df_income['Title'].apply(standardize_title)
df_income = df_income.dropna()

In [8]:
df_income['Title'].unique()

array(['LECTURER - ACADEMIC YEAR',
       'LECTURER - ACADEMIC YEAR - ONE OR TWO QUARTERS',
       'LECTURER IN SUMMER SESSION',
       'LECTURER - ACADEMIC YEAR - CONTINUING',
       'TEACHING PROFESSOR - ACADEMIC YEAR',
       'ASSISTANT TEACHING PROFESSOR - ACADEMIC YEAR',
       'ASSOCIATE TEACHING PROFESSOR - ACADEMIC YEAR',
       'LECTURER - FISCAL YEAR',
       'LECTURER - ACADEMIC YEAR - ONE OR TWO QUARTERS - CONTINUING',
       'SENIOR LECTURER - ACADEMIC YEAR - ONE OR TWO QUARTERS - CONTINUING',
       'VISITING ASSISTANT PROFESSOR', 'PROFESSOR - HCOMP',
       'PROFESSOR - ACADEMIC YEAR',
       'HEALTH SCIENCES ASSISTANT CLINICAL PROFESSOR - HCOMP',
       'PROFESSOR OF CLINICAL - HCOMP',
       'ASSOCIATE PROFESSOR - ACADEMIC YEAR',
       'HEALTH SCIENCES CLINICAL PROFESSOR - HCOMP',
       'PROFESSOR IN RESIDENCE - HCOMP',
       'HEALTH SCIENCES ASSISTANT CLINICAL PROFESSOR - FISCAL YEAR',
       'ASSOCIATE PROFESSOR IN RESIDENCE - HCOMP',
       'HEALTH SCIENCES ASSOCIATE CLINICAL PROFESSOR - HCOMP',
       'PROFESSOR - FISCAL YEAR', 'ASSISTANT ADJUNCT PROFESSOR - HCOMP',
       'ASSISTANT PROFESSOR - ACADEMIC YEAR',
       'ASSISTANT PROFESSOR OF CLINICAL - HCOMP',
       'ADJUNCT PROFESSOR - HCOMP', 'ADJUNCT PROFESSOR - ACADEMIC YEAR',
       'ASSISTANT PROFESSOR - HCOMP', 'VISITING PROFESSOR',
       'ASSOCIATE PROFESSOR - FISCAL YEAR',
       'ASSOCIATE PROFESSOR OF CLINICAL - HCOMP',
       'ASSOCIATE PROFESSOR - HCOMP',
       'ASSOCIATE ADJUNCT PROFESSOR - HCOMP',
       'PROFESSOR - ACADEMIC YEAR - BUSINESS/ECONOMICS/ENGINEERING',
       'ASSISTANT ADJUNCT PROFESSOR - ACADEMIC YEAR - BUSINESS/ECONOMICS/ENGINEERING',
       'ASSISTANT PROFESSOR - ACADEMIC YEAR - BUSINESS/ECONOMICS/ENGINEERING',
       'ASSISTANT ADJUNCT PROFESSOR - FISCAL YEAR',
       'ASSOCIATE PROFESSOR - ACADEMIC YEAR - BUSINESS/ECONOMICS/ENGINEERING',
       'VISITING ASSOCIATE PROFESSOR', 'ADJUNCT PROFESSOR - FISCAL YEAR',
       'ASSISTANT PROFESSOR IN RESIDENCE - HCOMP',
       'HEALTH SCIENCES ASSOCIATE CLINICAL PROFESSOR - FISCAL YEAR',
       'ADJUNCT PROFESSOR - ACADEMIC YEAR - BUSINESS/ECONOMICS/ENGINEERING',
       'ASSOCIATE ADJUNCT PROFESSOR - FISCAL YEAR',
       'HEALTH SCIENCES CLINICAL PROFESSOR - FISCAL YEAR',
       'PROFESSOR OF CLINICAL - FISCAL YEAR',
       'ASSOCIATE ADJUNCT PROFESSOR - ACADEMIC YEAR - BUSINESS/ECONOMICS/ENGINEERING',
       'PROFESSOR IN RESIDENCE - ACADEMIC YEAR',
       'PROFESSOR EMERITUS(WITHOUT SALARY)', 'UNIVERSITY PROFESSOR',
       'ASSISTANT PROFESSOR - ACADEMIC YEAR - ONE OR TWO QUARTERS - BUSINESS/ECONOMICS/ENGINEERING'],
      dtype=object)

In [9]:
df_income.shape

(3390, 4)

In [10]:
df_income.head()

,Last Name,First Name,Title,Regular Pay
0,ABI SAMRA,NICHOLAS CAMILL,LECTURER - ACADEMIC YEAR,"40,050.00"
1,ACCOMANDO,ALYSSA WHEELER,LECTURER - ACADEMIC YEAR - ONE OR TWO QUARTERS,"8,900.00"
2,ADAMS,DAVE KENNETH,LECTURER IN SUMMER SESSION,0.00
3,AGUILA,CHRISTINA O,LECTURER - ACADEMIC YEAR - ONE OR TWO QUARTERS,"5,874.00"
5,AJO,FRANCES BERGEN,LECTURER - ACADEMIC YEAR,"53,959.00"

## Standardize Pay
The values of pay are written in a different format from a float data type in python, therefore we must convert the elements in order to analyze its values.

In [11]:
# Remove commas and simplify values
def standardize_pay(string):
    
    string = string.lower()
    string = string.strip()

    if ',' in string:
        string = string.replace(',', '')
    if '.00' in string:
        string = string.replace('.00', '.0')
    
    return float(string)

In [12]:
df_income['Regular Pay'] = df_income['Regular Pay'].apply(standardize_pay)
df_income['Regular Pay'].describe()

count      3390.000000
mean     119230.420649
std       77361.566286
min           0.000000
25%       68087.750000
50%      114072.500000
75%      159077.750000
max      640090.000000
Name: Regular Pay, dtype: float64

In [13]:
df_income.head()

,Last Name,First Name,Title,Regular Pay
0,ABI SAMRA,NICHOLAS CAMILL,LECTURER - ACADEMIC YEAR,40050.0
1,ACCOMANDO,ALYSSA WHEELER,LECTURER - ACADEMIC YEAR - ONE OR TWO QUARTERS,8900.0
2,ADAMS,DAVE KENNETH,LECTURER IN SUMMER SESSION,0.0
3,AGUILA,CHRISTINA O,LECTURER - ACADEMIC YEAR - ONE OR TWO QUARTERS,5874.0
5,AJO,FRANCES BERGEN,LECTURER - ACADEMIC YEAR,53959.0

## Export As New File

In [14]:
df_income.to_csv('income_final.csv')